/* src/components/Carousel.css */

.carousel-caption {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 700px;
  }
  
  .carousel-caption h3, .carousel-caption p {
    opacity: 0;
    transform: translate3d(1000px, -700px, -100px);
    transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
  }
  
  .carousel-item.active .carousel-caption h3, .carousel-item.active .carousel-caption p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-title {
    color: #fff;
  }
  
  .carousel-caption p {
    font-size: 20px;
  }
  