/* src/App.css */

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* WhatsApp's green color */
  color: white;
  border-radius: 50%;
  padding: 15px;
  z-index: 1000; /* Ensure it stays on top of other elements */
  transition: background-color 0.3s ease;
}

.whatsapp-icon:hover {
  background-color: #128C7E; /* Darker green on hover */
}

@media (max-width: 768px) {
  .whatsapp-icon {
    bottom: 15px;
    right: 15px;
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .whatsapp-icon {
    bottom: 10px;
    right: 10px;
    padding: 10px;
  }
}

.whatsapp-icon-header {
  background-color: #128C7E; /* WhatsApp's green color */
  color: white;
  border-radius: 50%;
  padding: 15px;
  z-index: 1000; /* Ensure it stays on top of other elements */
  transition: background-color 0.3s ease;
}

.whatsapp-icon-header:hover {
  background-color: #25D366; /* Darker green on hover */
}

@media (max-width: 768px) {
  .whatsapp-icon-header {
    bottom: 15px;
    right: 15px;
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .whatsapp-icon-header {
    bottom: 10px;
    right: 10px;
    padding: 10px;
  }
}
